.board {
  display: grid;
  grid-template-rows: repeat(10, 40px);
  width: 400px;
  border: 1px solid grey;
}

.board__row {
  display: grid;
  grid-template-columns: repeat(10, 40px);
}

.square {
  border: 1px solid grey;
  cursor: pointer;
}

.square:hover {
  background-color: lightgrey;
}

.square.ship {
  background-color: #b3ccff;
}

.square.hit {
  background-color: #ff5050;
}

.square.miss {
  background-color: #99ff99;
}
